language: c
dist: xenial
cache: ccache
services:
  - docker

env:
  global:
    - ARCH=powerpc

matrix:
  include:
    # Ubuntu 20.04 clang
    - os:   linux
      arch: amd64
      env:  CLANG=1 TARGET=kernel SUBARCH=ppc64le IMAGE=ubuntu-20.04 DEFCONFIG=ppc64le_defconfig
      name: "clang 10 kernel: ppc64le (PPC_BOOK3S_64 && LITTLE_ENDIAN)"
    - os:   linux
      arch: amd64
      env:  CLANG=1 TARGET=kernel SUBARCH=ppc64 IMAGE=ubuntu-20.04 DEFCONFIG=ppc64_defconfig
      name: "clang 10 kernel: ppc64 (PPC_BOOK3S_64 && BIG_ENDIAN)"
